# conditional statement

In [1]:
product="term"

In [2]:
if product=='va':
    print('variable annuity')
    
elif product=='ia':
    print('index annuity')
elif product=='term':
    print('term insurance')
else:
    print('we dont have such product or we dont have a product you want')

term insurance

In [3]:
#input function
x=input('Enter your age')

Enter your age34

In [4]:
x

'34'

In [5]:
x=int(input('enter your age'))

enter your age56

In [6]:
type(x)

int

In [7]:
#casino

In [8]:
x=int(input('Enter your age my friend?\n'))

Enter your age my friend?
45

In [9]:
if x>=21:
    print('welcome to casino have fun')
elif x>=18<21:
    print('youe are an adult but not allowed in casino wait for few more years')
else:
    print('you are not allowed in casino ! go home')

welcome to casino have fun

**For loops**

In [10]:
product=['UL','BONDS','TERM INSURRANE','INDEX LINKED']

In [11]:
for i in product:
    print(i)
print('done')

UL
BONDS
TERM INSURRANE
INDEX LINKED
done

In [12]:
for i in product:
    print(i)
    print('done')

UL
done
BONDS
done
TERM INSURRANE
done
INDEX LINKED
done

In [13]:
my_list=[1,2,3,4,5,6,7]

In [14]:
for x in my_list:
    print(x)

1
2
3
4
5
6
7

In [15]:
#i want to see even nubers only

In [16]:
for i in my_list:
    if i%2==0:
        print(i)

2
4
6

In [17]:
#odd number 
for i in my_list:
    if i%2!=0:
        print(i)

1
3
5
7

In [18]:
#total of items in my_list
total=0
for i in my_list:
    total=total+i
print(total)

28

In [19]:
#multiplication
total=1
for i in my_list:
    total=total*i
print(total)

5040

In [20]:
#for loops in case of strings
for i in 'HAPPY BIRTHDAY':
    print(i)

H
A
P
P
Y

B
I
R
T
H
D
A
Y

In [21]:
#for loops with a tuple
my_assumption=[('discount rate',3.5),('mortality rate','AM92'),('reporting','solvancyii')]

In [22]:
for i in my_assumption:
    print(i)

('discount rate', 3.5)
('mortality rate', 'AM92')
('reporting', 'solvancyii')

In [23]:
#tuple unpacking
for name,val in my_assumption:
    print(name)
    print(val)

discount rate
3.5
mortality rate
AM92
reporting
solvancyii

In [24]:
# for loop with dictionary

In [25]:
d1={'fruit':'mango','age':34,'colour':'pink','country':'india'}

In [26]:
for i in d1:
    print(i)

fruit
age
colour
country

In [27]:
#dictionary unpacking
d1.items()

dict_items([('fruit', 'mango'), ('age', 34), ('colour', 'pink'), ('country', 'india')])

In [28]:
for x,y in d1.items():
    print(y)

mango
34
pink
india

In [30]:
#range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
range(0,10)

range(0, 10)

In [32]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
#sum of n natural numbers
x=5
total=0
for i in range(0,x+1):
    total=total+i
print(total)

15

In [36]:
x=int(input('enter the number\n'))
total=0
for i in range(0,x+1):
    total=total+i
print(total)

enter the number
15
120

In [39]:
#factorial of n  natural numbers
x=int(input('enter the number\n'))
total=1
for i in range(1,x+1):
    total=total*i
print(total)

enter the number
5
120

**While loops**

In [40]:
i=0
while i<7:
    print(i)
    i=i+1

0
1
2
3
4
5
6

**Break continue pass**

In [42]:
value=0
while value<10:
    print(value)
    value=value+1
    if value==6:
        break
    else:
        print('go on')

0
go on
1
go on
2
go on
3
go on
4
go on
5

In [44]:
my_lisst=[1,2,3,4,5,6]

**continue**

In [45]:
for i in my_lisst:
    if i==4:
        continue
    else:
        print(i)

1
2
3
5
6

**pass**

In [48]:
x=30
if x<20:
    print('right')
else:
    pass