**some useful features**

In [1]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(0,10,3))

[0, 3, 6, 9]

In [3]:
#enumerate function it gives index automatically measurly use for For loops

In [11]:
#without enumerate
index_count=0
for i in "Hello":
    print(f"At position {index_count} the value is {i}")
    index_count=index_count+1

At position 0 the value is H
At position 1 the value is e
At position 2 the value is l
At position 3 the value is l
At position 4 the value is o

In [12]:
#with enumerate
for y,i in enumerate("hello"):
    print(f"at position {y} the element is {i}")

at position 0 the element is h
at position 1 the element is e
at position 2 the element is l
at position 3 the element is l
at position 4 the element is o

In [13]:
enumerate("hello")

In [14]:
list(enumerate("hello"))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [15]:
dict(enumerate("hello"))

{0: 'h', 1: 'e', 2: 'l', 3: 'l', 4: 'o'}

In [16]:
#zip

In [17]:
my_assumptions=["mortality rate","withdrawal rate","tax rate"]
my_values=["AM92moratlity",0.10,0.25]

In [18]:
zip(my_assumptions,my_values)

In [19]:
dict(zip(my_assumptions,my_values))

{'mortality rate': 'AM92moratlity', 'withdrawal rate': 0.1, 'tax rate': 0.25}

In [20]:
# in function 
"x" in ["x","y","z"]

True

In [22]:
# not in function
"x" not in ["x","y","z"]

False

In [23]:
my_list=[1,2,3,4,5,6]

In [24]:
min(my_list)

1

In [25]:
max(my_list)

6

In [26]:
sum(my_list)

21

In [27]:
#random library

In [29]:
from random import shuffle

In [30]:
shuffle(my_list)

In [31]:
my_list

[4, 2, 6, 5, 1, 3]

In [32]:
from random import randint

In [33]:
randint(0,12)
#remember it will exclude last value so we can not see 12

7

**list comprehenssions**

In [34]:
my_list=[letter for letter in "my name is bhagwati"]

In [35]:
my_list

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'b',
 'h',
 'a',
 'g',
 'w',
 'a',
 't',
 'i']

In [37]:
list=[letter for letter in "HELLO"]

In [38]:
list

['H', 'E', 'L', 'L', 'O']

In [39]:
my_new_list=[x**2 for x in range(0,6)]

In [40]:
my_new_list

[0, 1, 4, 9, 16, 25]

In [42]:
#with if condition
my_list=[x**2 for x in range(0,6)if x%2==0]

In [43]:
my_list

[0, 4, 16]

In [47]:
#fernhite value with celcius
cel=[0,10,20,30]
fre=[(9/5*item)+32 for item in cel]

In [48]:
fre

[32.0, 50.0, 68.0, 86.0]

In [51]:
#nested list
my_list=[x**2 for x in[y**3 for y in range(0,5)]]

In [52]:
my_list

[0, 1, 64, 729, 4096]

In [57]:
#starts with
st="print only those words which starts with w"

In [58]:
st.split()

['print', 'only', 'those', 'words', 'which', 'starts', 'with', 'w']

In [59]:
for letter in st.split():
    if letter.startswith('w'):
        
        print(letter)

words
which
with
w